<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Загрузка Mongo</title>
    </head>
    <body>
            <!-- Форма загрузки файлов! -->
        <form action="{% url 'xml_list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <li><a href="{{ docfile.xmlfile.url }}">{{ Document.xmlfile.name }}</a></li>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Загрузить" /></p>
        </form>
    </body>
</html>